body{
    padding:5px;
    font-size: 18px;
}
a{
    text-decoration: none;
}
.heading1{
    border: 1px solid black;
    padding-left: 14px;
    
}
ol{
    padding-left: 20px;
}
.image{
    margin-bottom: 5px;
}
.trivia{
margin-top: 0px;
}