.heading1{
    border: 1px solid black;
    padding-left: 14px;
    font-size: large;
    
}
h2,h3{
    font-size: 50;
    font-size: large;
}
.Trivia{
    margin-top: 12px;
    font-size: 18px;
    text-align: left;
}
.list{
    text-align: left;
}